<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration>

<configuration>
  <import class="ch.qos.logback.classic.encoder.PatternLayoutEncoder"/>
  <import class="ch.qos.logback.core.ConsoleAppender"/>

  <appender name="console" class="ConsoleAppender">
    <encoder class="PatternLayoutEncoder">
      <pattern>%d [%t] %p %c %m%n</pattern>
    </encoder>
  </appender>

  <root level="all">
    <appender-ref ref="console"/>
  </root>
</configuration>
